name: ESP32-S3 MicroPython + LVGL 8.3

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-esp32s3-lvgl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 python3 python3-pip

      - name: Clone MicroPython
        run: |
          git clone https://github.com/micropython/micropython.git
          cd micropython
          git submodule update --init --recursive

      - name: Clone ESP-IDF
        run: |
          git clone -b v5.1.2 --depth=1 https://github.com/espressif/esp-idf.git
          cd esp-idf
          ./install.sh esp32s3

      - name: Clone LVGL 8.3
        run: |
          git clone https://github.com/lvgl/lvgl.git --branch release/v8.3 --depth=1 lvgl

      - name: Clone LVGL Micropython bindings
        run: |
          git clone https://github.com/lvgl/lv_binding_micropython.git lv_bindings

      - name: Prepare LVGL in MicroPython tree
        run: |
          cp -r lvgl micropython/lib/
          cp -r lv_bindings micropython/lib/
          cp lv_conf.h micropython/ports/esp32/

      - name: Patch ESP32-S3 board to include LVGL
        run: |
          BOARD_CMAKE="micropython/ports/esp32/boards/ESP32_GENERIC_S3/mpconfigboard.cmake"
          {
            echo 'set(LVGL_DIR "${MICROPY_DIR}/lib/lvgl")'
            echo 'set(LV_BINDINGS_DIR "${MICROPY_DIR}/lib/lv_bindings")'
            echo 'include(${LV_BINDINGS_DIR}/lvgl.cmake)'
          } >> "${BOARD_CMAKE}"

      - name: Build MicroPython + LVGL for ESP32-S3
        run: |
          . esp-idf/export.sh
          cd micropython/ports/esp32
          make submodules
          make BOARD=ESP32_GENERIC_S3

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-esp32s3-lvgl
          path: |
            micropython/ports/esp32/build-ESP32_GENERIC_S3/firmware.bin
            micropython/ports/esp32/build-ESP32_GENERIC_S3/firmware.elf
