name: ESP32-S3 Build (single BIN)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf python3-venv cmake ninja-build ccache libffi-dev libssl-dev dfu-util

      - name: Clone MicroPython
        run: |
          git clone https://github.com/micropython/micropython.git micropython
          cd micropython
          git submodule update --init --recursive

      - name: Clone ESP-IDF v5.1.2
        run: |
          git clone -b v5.1.2 --depth=1 https://github.com/espressif/esp-idf.git $HOME/esp-idf

      - name: Install ESP-IDF tools
        run: |
          cd $HOME/esp-idf
          ./install.sh esp32s3

      - name: Build MicroPython for ESP32-S3
        run: |
          . $HOME/esp-idf/export.sh
          cd micropython/ports/esp32
          make submodules
          make BOARD=ESP32S3_GENERIC


      - name: Upload firmware.bin
        uses: actions/upload-artifact@v4
        with:
          name: esp32s3-firmware
          path: micropython/ports/esp32/build-ESP32S3_GENERIC/firmware.bin
