name: ESP32-S3 MicroPython + LVGL (SPIRAM + USB)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-esp32s3-lvgl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 python3 python3-pip

      - name: Clone MicroPython (master)
        run: |
          git clone --depth=1 --branch master https://github.com/micropython/micropython.git
          cd micropython
          git submodule update --init --recursive

      - name: Clone ESP-IDF (v5.2)
        run: |
          git clone -b v5.2 --depth=1 https://github.com/espressif/esp-idf.git
          cd esp-idf
          ./install.sh esp32s3

      - name: Export ESP-IDF environment
        run: |
          . esp-idf/export.sh
        shell: bash

      - name: Clone LVGL 8.3
        run: |
          git clone https://github.com/lvgl/lvgl.git --branch release/v8.3 --depth=1 lvgl

      - name: Clone LVGL Micropython bindings
        run: |
          git clone https://github.com/lvgl/lv_binding_micropython.git lv_bindings

      - name: Copy LVGL into MicroPython tree
        run: |
          cp -r lvgl micropython/lib/
          cp -r lv_bindings micropython/lib/
          cp lv_conf.h micropython/ports/esp32/

      - name: Copy custom partition table
        run: |
          cp partitions.csv micropython/ports/esp32/boards/ESP32_GENERIC_S3_SPIRAM_USB/

      - name: Patch ESP32-S3 SPIRAM USB board to include LVGL + partitions
        run: |
          BOARD_CMAKE="micropython/ports/esp32/boards/ESP32_GENERIC_S3_SPIRAM_USB/mpconfigboard.cmake"
          {
            echo 'set(LVGL_DIR "${MICROPY_DIR}/lib/lvgl")'
            echo 'set(LV_BINDINGS_DIR "${MICROPY_DIR}/lib/lv_bindings")'
            echo 'include(${LV_BINDINGS_DIR}/lvgl.cmake)'
            echo 'set(BOARD_PARTITION_TABLE "${MICROPY_BOARD_DIR}/partitions.csv")'
          } >> "${BOARD_CMAKE}"

      - name: Build MicroPython + LVGL for ESP32-S3 SPIRAM USB
        run: |
          . esp-idf/export.sh
          cd micropython/ports/esp32
          make submodules
          make BOARD=ESP32_GENERIC_S3_SPIRAM_USB
        shell: bash

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-esp32s3-spiram-usb-lvgl
          path: |
            micropython/ports/esp32/build-ESP32_GENERIC_S3_SPIRAM_USB/firmware.bin
            micropython/ports/esp32/build-ESP32_GENERIC_S3_SPIRAM_USB/firmware.elf
