name: Build-LVGL
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 python3 python3-pip

      - name: Clone-Repos
        run: |
          # Dynamiczne składanie adresów, aby ominąć błąd parsera
          MPY="https://github.com/""micropython/micropython.git"
          IDF="https://github.com/""espressif/esp-idf.git"
          LVB="https://github.com/""lvgl/lv_binding_micropython.git"
          
          git clone --depth 1 --branch v1.22.2 "$MPY" micropython
          git clone --depth 1 --branch v5.0.4 --recursive "$IDF" esp-idf
          git clone --recursive "$LVB" micropython/lib/lv_bindings
        shell: bash

      - name: Install-IDF
        run: |
          cd esp-idf
          ./install.sh esp32s3
        shell: bash

      - name: Config-Board
        run: |
          BOARD_DIR="micropython/ports/esp32/boards/ESP32_GENERIC_S3"
          printf "nvs, data, nvs, 0x9000, 0x6000,\notadata, data, ota, 0xf000, 0x2000,\nphy_init, data, phy, 0x11000, 0x1000,\nfactory, app, factory, 0x20000, 0x600000,\nvfs, data, fat, 0x620000, 0x900000,\n" > ${BOARD_DIR}/partitions.csv
          
          printf "CONFIG_SPIRAM=y\nCONFIG_SPIRAM_MODE_OCT=y\nCONFIG_SPIRAM_SPEED_80M=y\nCONFIG_SPIRAM_BOOT_INIT=y\nCONFIG_ESP32S3_FLASH_VOLTAGE_1_8V=y\nCONFIG_ESP32S3_SPIRAM_VOLTAGE_1_8V=y\nCONFIG_ESPTOOLPY_FLASHSIZE_16MB=y\nCONFIG_BOARD_PARTITION_TABLE=\"partitions.csv\"\n" > ${BOARD_DIR}/sdkconfig.board

      - name: Build-All
        run: |
          source esp-idf/export.sh
          
          # 1. Budujemy mpy-cross
          make -C micropython/mpy-cross
          
          # 2. Inicjalizacja submodułów
          cd micropython
          git submodule update --init --recursive
          
          # 3. Kopiowanie lv_conf.h (wychodzimy z micropython/ do głównego folderu repo)
          cp ../lv_conf.h ports/esp32/
          
          # 4. Submoduły portu
          cd ports/esp32
          make BOARD=ESP32_GENERIC_S3 submodules
          
          # 5. Kompilacja właściwa
          make BOARD=ESP32_GENERIC_S3 USER_C_MODULES=../../lib/lv_bindings/bindings.cmake
        shell: bash



      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-lvgl
          path: micropython/ports/esp32/build-ESP32_GENERIC_S3/firmware.bin
