name: Build-ESP32-S3-LVGL

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0 python3 python3-pip

      - name: Clone repositories
        run: |
          git clone --depth 1 --branch v1.22.2 "https://github.com"
          git clone -b v5.0.4 --depth 1 --recursive "https://github.com"
          git clone --recursive "https://github.com" micropython/lib/lv_bindings

      - name: Install ESP-IDF
        run: |
          cd esp-idf
          ./install.sh esp32s3
        shell: bash

      - name: Setup Board Configuration
        run: |
          BOARD_DIR="micropython/ports/esp32/boards/ESP32_GENERIC_S3"
          cat <<EOF > ${BOARD_DIR}/partitions.csv
          # Name, Type, SubType, Offset, Size, Flags
          nvs, data, nvs, 0x9000, 0x6000,
          otadata, data, ota, 0xf000, 0x2000,
          phy_init, data, phy, 0x11000, 0x1000,
          factory, app, factory, 0x20000, 0x600000,
          vfs, data, fat, 0x620000, 0x900000,
          EOF
          cat <<EOF > ${BOARD_DIR}/sdkconfig.board
          CONFIG_SPIRAM=y
          CONFIG_SPIRAM_MODE_OCT=y
          CONFIG_SPIRAM_SPEED_80M=y
          CONFIG_SPIRAM_BOOT_INIT=y
          CONFIG_ESP32S3_FLASH_VOLTAGE_1_8V=y
          CONFIG_ESP32S3_SPIRAM_VOLTAGE_1_8V=y
          CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
          CONFIG_BOARD_PARTITION_TABLE="partitions.csv"
          EOF

      - name: Build Firmware
        run: |
          source esp-idf/export.sh
          make -C micropython/mpy-cross
          cd micropython
          git submodule update --init --recursive lib/berkeley-db-1.85 lib/mbedtls lib/tinyusb
          make submodules
          cd ports/esp32
          make BOARD=ESP32_GENERIC_S3 USER_C_MODULES=../../lib/lv_bindings/bindings.cmake
        shell: bash

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-esp32s3-lvgl
          path: micropython/ports/esp32/build-ESP32_GENERIC_S3/firmware.bin
